.project-container {
	min-height: fit-content;
	margin-bottom: 5rem;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	gap: 2rem;
	padding: 2rem;
	padding-bottom: 5rem;
	align-items: center;
	.project-tittle {
		font-size: 3rem;
		font-family: "General Sans", Inter, system-ui, Avenir;
	}
	h3 {
		font-size: 1.75rem;
		font-weight: 100;
		color: var(--clr-ultra-light-black);
		margin-bottom: 1.25rem;
	}

	border-bottom: 1px solid var(--clr-mega-ultra-light-black);
}
.text-container {
	display: flex;
	gap: 1rem;
	flex-flow: column;
	.project-links {
		a {
			color: var(--clr-principal);
			font-size: 1.3rem;
			text-decoration: none;
			display: flex;
			gap: 5rem;
		}
		.arrow {
			display: contents;
			font-size: 2.5rem;
		}
		li {
			display: flex;
			align-items: center;
		}
	}
}
.image-container {
	img {
		height: 100%;
		width: 100%;
		border-radius: 1rem;
		box-shadow: var(--mid-shadow);
	}
}
.stack-list {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	li {
		background-color: var(--clr-light-black);
		padding: 0.5rem 1rem;
		border-radius: 1rem;
		color: var(--clr-light-white);
	}
}

@media (max-width: 1060px) {
	.project-container {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		padding-left: 0;
		padding-right: 0;
	}
}
