/*RESET*/
body {
	line-height: 1;
	margin: 0;
	html,
	body,
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	b,
	u,
	i,
	center,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td,
	article,
	aside,
	canvas,
	details,
	embed,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	menu,
	nav,
	output,
	ruby,
	section,
	summary,
	time,
	mark,
	audio,
	video {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	menu,
	nav,
	section {
		display: block;
	}
	ol,
	ul {
		list-style: none;
	}
	blockquote,
	q {
		quotes: none;
	}
	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
		content: "";
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	button {
		border: 0;
		font-weight: bold;
	}
}

:root {
	font-family: Helvetica, Arial, sans-serif;

	--clr-black: hsl(214, 31%, 12%);
	--clr-light-black: hsl(213, 31%, 20%);
	--clr-ultra-light-black: hsl(213, 10%, 44%);
	--clr-mega-ultra-light-black: hsl(213, 10%, 64%);
	--clr-dark-white: hsl(213, 15%, 95%);
	--clr-light-white: hsl(213, 15%, 100%);
	--clr-principal: hsl(214, 90%, 51%);
	--clr-light-principal: hsl(214, 90%, 70%);

	--little-shadow: 3px 3px 5px hsl(0, 0%, 0%, 0.2);
	--mid-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
	--big-shadow: 10px 10px 5px hsl(0, 0%, 0%, 0.2);

	--radius: 1rem;

	color: var(--clr-black);
	background-color: var(--clr-dark-white);
}

body {
	max-width: 100dvw;
	min-height: 100dvh;
	* {
		button {
			padding: 0.5rem 1rem;
			margin: 0.5rem;
			font-size: 1rem;
			border: 0;
			cursor: pointer;
		}
		svg {
			fill: var(--clr-black);
			height: 3rem;
		}
	}
	#root {
		min-height: inherit;
		max-width: inherit;
	}
}

.section {
	min-height: inherit;
	max-width: inherit;
	padding: 0 5rem;
}

.header {
	position: fixed;
	display: flex;
	min-width: 100vw;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	gap: 4rem;
	transform: translateY(0);
	transition: transform 0.3s ease-in-out;
	z-index: 10;
	img {
		height: 3rem;
	}
	ul {
		display: flex;
		gap: 1.5rem;
		font-size: 1.3rem;
		box-shadow: var(--mid-shadow);

		padding: 1rem 2rem;
		border-radius: 100px;
		background-color: var(--clr-light-white);
		li {
			a {
				text-decoration: none;
				color: var(--clr-light-black);
				font-weight: 800;
				position: relative;
			}
		}
	}
}

.header.hide {
	transform: translateY(-100px);
	transition: transform 0.3s ease-in-out;
}

.tittle {
	font-size: 2.5rem;
	span {
		font-size: 1.8rem;
	}
	margin: 3rem 0rem;
}

p {
	font-size: min(max(1.2rem, 2vw), 1.5rem);
	color: var(--clr-light-black);
	max-width: 75ch;
	line-height: normal;
}

@media (max-width: 1060px) {
	.section {
		padding: 0 min(5rem, 7vw);
	}
}

@media (max-width: 700px) {
	.header {
		transform: translateY(-100px);
	}
}
