/*RESET*/
body {
	line-height: 1;
	margin: 0;
	html,
	body,
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	b,
	u,
	i,
	center,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td,
	article,
	aside,
	canvas,
	details,
	embed,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	menu,
	nav,
	output,
	ruby,
	section,
	summary,
	time,
	mark,
	audio,
	video {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	menu,
	nav,
	section {
		display: block;
	}
	ol,
	ul {
		list-style: none;
	}
	blockquote,
	q {
		quotes: none;
	}
	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
		content: "";
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	button {
		border: 0;
		font-weight: bold;
	}
}

:root {
	font-family: "General Sans", Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;

	--clr-black: hsl(214, 31%, 20%);
	--clr-light-black: hsl(213, 28%, 37%);
	--clr-dark-white: hsl(213, 15%, 95%);
	--clr-light-white: hsl(213, 15%, 98%);
	--clr-principal: hsl(0, 80%, 65%);

	--little-shadow: 3px 3px 5px hsl(0, 0%, 0%, 0.2);
	--mid-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
	--big-shadow: 10px 10px 5px hsl(0, 0%, 0%, 0.2);

	--radius: 1rem;

	color: var(--clr-black);
	background-color: var(--clr-dark-white);
}

body {
	max-width: 100dvw;
	min-height: 100dvh;
	* {
		button {
			padding: 0.5rem 1rem;
			margin: 0.5rem;
			font-size: 1rem;
			border: 0;
		}
		svg {
			fill: var(--clr-black);
		}
	}
	#root {
		min-height: inherit;
		max-width: inherit;
	}
}
